<ion-header>
  <ion-navbar>
    <ion-title>Exercise Sets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-select [(ngModel)]="selectedExerciseSetId"
      (ionChange)="onChange($event)" placeholder="Not Selected">
      <ion-option *ngFor="let set of exerciseSets.items" [value]="set.id">{{ set.name }}</ion-option>
    </ion-select>  
  </ion-item>
  <ion-item>
    <button ion-button (click)="newExerciseSet($event)" color="primary">New Exercise Set</button>
  </ion-item>
  <ion-card  *ngFor="let exercise of exercises">
    <ion-card-header>{{ exercise.name }}</ion-card-header>
    <ion-card-content #displayContainer>
      <exercise-display #exerciseDisplay></exercise-display>
      <button ion-button (click)="editclicked($event)" color="primary" small>
        <ion-icon name="open"></ion-icon>
      </button>
      <button ion-button (click)="deleteClicked($event)" color="primary" small>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-card-content>
</ion-card>
</ion-content>