<ion-header>
  <ion-navbar>
    <ion-title>Exercise Sets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding (window:resize)="onResize($event)">
  <ion-list no-lines>
    <ion-item>
      <ion-select [(ngModel)]="selectedExerciseSetName"
        (ionChange)="onChange($event)" placeholder="Not Selected" [disabled]="editing">
        <ion-option *ngFor="let set of exerciseSets.items" [value]="set.id">{{ set.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-buttons>
        <button ion-button (click)="newExerciseSet($event)" [disabled]="editing">New Exercise Set</button>
        <button ion-button (click)="deleteExerciseSet()" [hidden]="!exerciseSets.currentExerciseSet || !exerciseSets.currentExerciseSet.isOwner" [disabled]="editing" color="danger">Delete Exercise Set</button>
        <button ion-button (click)="newExercise($event)" [hidden]="!exerciseSets.currentExerciseSet || !exerciseSets.currentExerciseSet.isOwner" [disabled]="editing">New Exercise</button>    
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let exercise of exercises; let idx = index">
      <div [hidden]="editIndex == idx">
        {{ (exercise.name ? exercise.name : '') +
          (exercise.category ? (' (' + exercise.category + ')') : 'Unnamed')  +
          (exercise.comments ? (': ' + exercise.comments) : '') }}
      </div>
      <div #displayContainer class="exercise-container"   [style.background-color]="editIndex == idx ? 'editing-color' : 'static-color'">
        <exercise-display #exerciseDisplay></exercise-display>
      </div> 
      <ion-buttons [hidden]="editIndex == idx || !exercise.isOwner">
        <button ion-button (click)="editExercise(idx)" [disabled]="editing" color="primary" small>
          <ion-icon name="open"></ion-icon>
        </button>
        <button ion-button (click)="deleteExercise(idx)" [disabled]="editing" color="danger" small>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons [hidden]="editIndex != idx">
        <button ion-button (click)="editor.saveExerciseEditing()" color="primary" small>
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
        <button ion-button (click)="editor.editExerciseProperties()" color="secondary" small>
          <ion-icon name="information-circle"></ion-icon>
        </button>
        <button ion-button (click)="editor.cancelExerciseEditing()" color="danger" small>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer [hidden]="!editing">
  <ion-toolbar>
    <ion-buttons left class="editor-buttons">
      <button ion-button outline [disabled]="!(editing && editor?.enableStroke)" (click)="editor.stroke(editor.rightHand)">R</button>
      <button ion-button outline [disabled]="!(editing && editor?.enableStroke)" (click)="editor.stroke(editor.leftHand)">L</button>
      <button ion-button outline [disabled]="!(editing && editor?.enableStroke)" (click)="editor.stroke(editor.bothHands)">B</button>
      <button ion-button outline [disabled]="!(editing && editor?.enableStroke)" (click)="editor.stroke(editor.noHands)"><ion-icon name="radio-button-off"></ion-icon></button>      
      <button ion-button outline [disabled]="!(editing && editor?.atStroke)" (click)="editor.measure()">|</button>
      <button ion-button outline [disabled]="!(editing && editor?.enableRepeat)" (click)="editor.repeat()">/</button>
      <button ion-button outline [disabled]="!(editing && editor?.enableGrace)" (click)="editor.grace()">G</button>
      <button ion-button outline [disabled]="!(editing && editor?.enableAccent)" (click)="editor.accent()">></button>
      <button ion-button outline [disabled]="!(editing && editor?.atStroke)" (click)="editor.space()"><ion-icon name="square-outline"></ion-icon></button>
      <button ion-button outline (click)="editor.back()"><ion-icon name="arrow-back"></ion-icon></button>
      <button ion-button outline (click)="editor.forward()"><ion-icon name="arrow-forward"></ion-icon></button>
      <button ion-button outline (click)="editor.backspace()"><ion-icon name="backspace"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>