/* Coolors Exported Palette - coolors.co/b24c63-5438dc-357ded-56eef4-32e875 */

/* HSL */
$color1: hsla(346%, 40%, 50%, 1);
$color2: hsla(250%, 70%, 54%, 1);
$color3: hsla(217%, 84%, 57%, 1);
$color4: hsla(182%, 88%, 65%, 1);
$color5: hsla(142%, 80%, 55%, 1);

/* RGB */
$color1: rgba(178, 76, 99, 1);
$color2: rgba(84, 56, 220, 1);
$color3: rgba(53, 125, 237, 1);
$color4: rgba(86, 238, 244, 1);
$color5: rgba(50, 232, 117, 1);