// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #3F9FBF,
  secondary:  #F5C54B,
  danger:     #F54B4B,
  light:      #B8DDE9,
  dark:       #246074,
  favorite:   #69BB7B,
);

$fancy-font: 'Courgette', cursive;
$fancy-color: black;
$editing-color: #faa8a8;
$static-color: #f8d682;

ion-title {
  font-family: $fancy-font;
}

[fancy-text] {
  font-family: $fancy-font;
  color: #a4f25c;
}

.editor-buttons > button {
  font-family: courier;
  font-weight: bold;
}

.exercise-container {
    position: relative;
}

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
